<div class="container">
  <main class="form-wrapper" role="main">
    <h1>Welcome to Flashcards! Register Here:</h1>
    <form method="POST" action="/users">
      <input type="text" name="user[user_name]" placeholder="Username">
      <br>
      <input type="text" name="user[email]" placeholder="Email@email.com">
      <br>
      <input type="password" name="user[password]" placeholder="Password">
      <br>
      <input type="submit" value="Register">
    </form>
  </main>
</div>
