<section>
  <article>
    <p><%= @card.question %></p>
    <form method="POST" action="/games/<%= @deck.id %>">
      <input type="text" placeholder="input your answer here" name="answer">
      <input type="submit" value="Submit Answer">
    </form>
  </article>

  <aside>

  </aside>
</section>
