



    <h1>Choose your Deck</h1>

     <p> Below are listed all the possible decks of flashcards you can choose from. Click on one to begin, or click your User Name to see your past progress.</p>

        <ul>
          <% @decks.each do |deck| %>
            <li><form method='post' action='/games'>
            <input type='submit' value='<%= deck.name.capitalize%>'>
            <input type='hidden' name='deck_id' value='<%= deck.id %>'>
              </li>
            </form>
            <p><%= deck.description %></p>
          <% end %>
        </ul>



