<body>
  <header>
    <h1>Choose your Deck</h1>
    <nav>
      <a href='/user_show'>User Name</a>
    </nav>
  </header>

  <main>
    <section>
     <p> Below are listed all the possible decks of flashcards you can choose from. Click on one to begin, or click your User Name to see your past progress.
    </section>
    <section>
      <article>
        <ul>
          <% @decks.each do |deck| %>
            <li><a href='/deck/<%= deck.id %>'>
              <h3><%=  deck.name.capitalize %></h3></li></a>
              <form type='hidden' name='deck_id' value='<%= deck.id %>'>
              </form>
            <p><%= deck.description %></p>
          <% end %>
        </ul>
      </article>
      <aside>
        
      </aside>
    </section>
  </main>

  <footer>
    Copyright 2016 
  </footer>
</body>